*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*background: black;*/


}

.left-pane{
	position: relative;
	width: 100%;
	min-height: 100vh;

	display: none;

	@media screen and (max-width: 800px) {
		display: block;
	}
}

.right-pane{
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	height: 100%;
	overflow: scroll;
	padding: 1em;

	background: url('../images/pattern3.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 550px auto;

	min-height: 100vh;

	@media screen and (max-width: 800px) {
		position: relative;
		left: 0;
		width: 100%;
	}
}

.pattern-1{
	position: absolute;
	background: url('../images/pattern1.png');
	background-size: cover;

	width: 40px;
	height: 180px;

	top: 60px;
	left: 0;
}

.pattern-2{
	position: absolute;
	background: url('../images/pattern2.png');
	background-size: cover;

	width: 70px;
	height: 70px;

	top: 0;
	right: 0;
}

@media screen and (max-width: 800px) {
	.pattern-1, .pattern-2{
		display: none;
	}

	.right-pane{
		background-image: none;
	}
}



@import "../components/filter-viz.css";

@import "../views/home/home.css";
@import "../views/about/about.css";
@import "../views/tool-detail/tool-detail.css";
@import "../views/list-view/list-view.css";
@import "../views/intro/intro.css";
