.thumbnail {
    box-shadow: none; 
    transition: none

}
.features {
  text-align: center; }
  .features hr {
    width: 25%;
    margin: 1rem auto; }
  .features .round-icon {
    background-color: #E87E04;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: -61px auto 1rem;
    width: 100px;
    font-size: 3rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

.meta h6{
  font-weight: bold;
}
.tool-detail{
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
}

/*set media query for mobile at 100%*/